// 4 variables
$greenRadialHeader: radial-gradient(ellipse at top, rgb(3, 153, 3), rgb(178, 253, 66));
$greenRadialFooter: radial-gradient(rgb(2, 117, 2), rgb(178, 253, 66));
$padding1: 10px 50px 50px 10px;
$padding2: 8px 8px 8px 8px;

.header {
    background-color: greenyellow;
    background: $greenRadialHeader;
    font-size: small;
    color: white;
    padding: $padding1;
}

.footer {
    background-color: greenyellow;
    background: $greenRadialFooter;
    font-size: small;
    padding: 10px 50px 40px 10px;
}

.CopyLeft {
    float: right;
}

.clearfix {
    display: flex;
}

//Function
@function widthLeftList($base, $multiplo){
    $result: $base * $multiplo;
    @return $result;
}

//Mixin1
@mixin goldColor {
    >gold {
        color: gold;
    }
}
//Mixin2
@mixin LeftList {
    .menu>ul>li {
        background-color: green;
        font-size: medium;
        width: widthLeftList(40,5);
//Media directive1
        @media screen and (min-width: 80px) {

            max-width: 200px;
        }

        padding: $padding2;
        margin-left: -40px;
        margin-bottom: 5px;
        color: white;

        //Pseudo-elements
        ::before {
            content: "'";
        }

        ::after {
            content: "'"
        }

        @include goldColor();
    }
}

div {
    @include LeftList();
}

.content {
    margin-left: 50px;
    width: 80%;
//Media directive2
    @media screen and (min-width: 50%) {

        max-width: 80%;
    }

    font-size: small;
}

.news {
    margin-left: 50px;
    font-size: small;
    box-sizing: border-box;
    border: 2px solid green;
    margin: 10px;
    padding: 2px;

    //Pseudo-class
    &:hover {
        cursor: help;
        color: rgb(0, 0, 255);
    }
}