div {
    position: absolute;
    border: 3px solid black;
    padding: 5px;
}

div.casa {
    background-color: grey;
    height: 200px;
    width: 250px;
    top: 300px;
    left: 300px;
}

div.tejado {
    top: 242px;
    left: 273px;
    width: 305px;
    padding-top: 50px;
    border: 3px solid black;
    background-color: red;
}

div.puerta {
    top: 146px;
    left: 105px;
    height: 50px;
    width: 50px;
    background-color: brown;
    font-size: small;
}

div.ventana {
    background-color: blue;
    top: 130px;
    left: 190px;
    height: 30px;
    width: 30px;
}

div.ventana2 {
    background-color: blue;
    top: 60px;
    left: 30px;
    height: 30px;
    width: 30px;
}