body {
  text-align: center;
  background-color: rgba(251, 223, 200, 255);
}

.box {
  display: flex;
}

.rowH {
  flex: 1;
  background-color: rgba(173, 216, 230, 255);
  padding-top: 1em;
  border-bottom: 3px solid mediumblue;
}

.rowB {
  flex: 1;
  border: 1px solid black;
  font-size: 30px;
  font-family: Arial;
}

div.fe {
  background-color: rgba(255, 196, 185, 255);
}