td.fe{
    background-color: rgba(255,196,185,255);
}
body{
    text-align: center;
    background-color: rgba(251,223,200,255);
}
table tr th{
    padding-top: 1em;
    border-bottom-width: 2px;
    border-bottom-color: mediumblue;
    background-color: rgba(173,216,230,255);
}
table tr td{
    font-size: 30px;
    font-family: Arial;
    height: 95px;
    width: 85px;
    empty-cells: hide;
}
table{
    border: hidden;
    margin-left: auto;
    margin-right: auto;
}