body {
    background-color: rgb(80, 0, 80);
}

.movimiento1 {
    width: 47px;
    height: 54px;
    background: url("flags.png");
    animation:
        play11 2s steps(16) infinite,
        play12 30s steps(15) infinite;
}

@keyframes play11 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -800px
    }
}

@keyframes play12 {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -750px;
    }
}

.movimiento2 {
    height: 240px;
    width: 190px;
    background: url("foto.png");
    animation: play2 0.3s steps(10) infinite
}

@keyframes play2 {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -1900px;
    }
}

.movimiento3 {
    width: 100px;
    height: 100px;
    background: url("explosion.png");
    animation:
        play31 0.5s steps(6) infinite,
        play32 3s steps(6) infinite;
}

@keyframes play31 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -600px;
    }
}

@keyframes play32 {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -600px;
    }
}

.movimiento4 {
    width: 80px;
    height: 95px;
    background: url("Jason_Bourne.png");
    animation:
        play41 1s steps(8) infinite,
        play42 8s steps(5) infinite;
}

@keyframes play41 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -640px
    }
}

@keyframes play42 {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -470px;
    }
}

.movimiento5 {
    width: 256px;
    height: 308px;
    background: url("mickey-sprite.png");
    animation:
        play51 1s steps(8) infinite,
        play52 5s steps(5) infinite;
}

@keyframes play51 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -2048px
    }
}

@keyframes play52 {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -1540px;
    }
}

.movimiento6 {
    width: 1024px;
    height: 200px;
    background: url("money.jpg");
    animation:
        play61 1s steps(7) infinite,
        play62 14s steps(5) infinite;
}

@keyframes play61 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1024px
    }
}

@keyframes play62 {
    0% {
        background-position-y: 0;
    }

    100% {
        background-position-y: -1024px;
    }
}

.movimiento7 {
    width: 256px;
    height: 256px;
    background: url("run.png");
    animation: play7 0.2s steps(6) infinite;
}

@keyframes play7 {
    0% {
        background-position: 0;
    }

    100% {
        background-position: -1536px;
    }
}